//my-colors---

$blue1: #00a3c8;

$blue2: #008FD5;

$black1: #222222;

$black2: #444444;

$text1: #555555;

$text2: #666666;

$text3: #969696;

$border1: #eeeeee;

$border2: #dddddd;

$footer: #263238;

$ftext: #8D8E92;